ul{
    display: flex;
    justify-content: space-evenly;
    background-color: burlywood;
    
   
}
li{
    text-decoration: none;
    list-style-type: none;
   padding-top: 20px;
}
.ball{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    /* text-align: center; */
    transition: .5s all;


}
.ball:hover{
transform: rotate(360deg);
}
@media screen and (max-width:360px){
    ul{
        display: flex;
    }
    li{
        flex-direction: column;
        width: 100%;
    }
    .ball{
        width: 10px;
        height: 10px;
    }
}